@charset "UTF-8";
/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
body {
  background-color: #f0f8ff;
  width: calc(100vw - (100vw - 100%));
}

.palabrasmayores {
  margin-left: 10px;
  font-weight: bolder;
  color: #401240;
  margin: 20px;
  background-color: #fff;
  width: auto;
  padding: 10px;
}

.navbar nav {
  text-emphasis: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

#logo {
  width: 100px;
  height: 100px;
  align-items: start;
}

.cejas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  justify-content: center;
  align-items: start;
}

.cejas {
  background-color: #401240;
  color: #fff;
}

.cejas {
  margin: 30px;
  padding: 30px;
}

.cejas {
  margin: 0%;
  width: 100%;
  color: #fff;
}

.cejas ul, ol {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

.nav-link {
  background-color: #401240;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav li a {
  background-color: #401240;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.navbar-nav li a:hover {
  background-color: #fff;
  color: #401240;
}

.navbar-nav li ul {
  display: none;
  position: -ms-page;
  min-width: 140px;
}

.navbar-nav li:hover > ul {
  display: block;
}

.navbar-nav li ul li {
  position: relative;
}

.navbar-nav li ul li ul {
  right: -140px;
  top: 0px;
}

.dropdown-menu-dark {
  background-color: #401240;
  border-color: #401240;
  border-radius: 0%;
}

#pie {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

#pie {
  margin-top: 10px;
  width: 100%;
  background-color: #401240;
  color: #fff;
  padding: 40px;
}

@media (max-width: 720px) {
  .footer, .notas {
    font-size: 10px;
  }
  .website-map img {
    display: none;
  }
}
p a {
  font-weight: bolder;
  color: #fff;
}

/* colores del diseño
$morao (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
.carousel {
  margin-top: 50px;
}
.carousel .carousel-inner img {
  height: 400px;
  border-image-slice: fill;
}

.container .text-center .card-body {
  padding: 2rem;
}
.container .text-center .card-body .card-title {
  padding: 40px;
}

@media (min-width: 1040px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cabeza sidebar" "main sidebar" "website-map website-map";
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
  }
  .cabeza {
    grid-area: cabeza;
  }
  .main {
    grid-area: main;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .website-map {
    grid-area: website-map;
  }
  .website-map ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
  }
  .website-map ul li ul {
    display: flex;
    flex-direction: column;
  }
}
/* colores del diseño
$morao (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
.banner {
  height: 300px;
  border-image-slice: fill;
  width: fit-content;
  margin: 25px;
}

/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
.preguntas {
  width: 90%;
}
.preguntas .accordion-item {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .preguntas {
    font-size: 14px;
  }
  .preguntas img {
    display: none;
  }
}
/* colores del diseño
$morao (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
.btn-primary {
  background-color: #fff;
  color: #401240;
  font-weight: bolder;
  border: #fff;
}

.btn-primary:hover {
  background-color: #401240;
  color: #fff;
}

.palabreria1 {
  background-color: #ffbb10;
  padding: 50px;
  margin: 25px;
  font-size: xx-large;
  color: #fff;
  font-weight: bolder;
}
.palabreria1 p {
  font-size: large;
  font-weight: lighter;
  text-emphasis: none;
}

.palabreria2 {
  background-color: #ff871e;
  padding: 50px;
  margin: 25px;
  font-size: xx-large;
  color: #fff;
  font-weight: bolder;
}
.palabreria2 p {
  font-size: large;
  font-weight: lighter;
  text-emphasis: none;
}

.palabreria3 {
  background-color: #93c4ff;
  padding: 50px;
  margin: 25px;
  font-size: xx-large;
  color: #fff;
  font-weight: bolder;
}
.palabreria3 p {
  font-size: large;
  font-weight: lighter;
  text-emphasis: none;
}

.imagen {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px;
}

/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */
@media (min-width: 1040px) {
  form .palabreria1, form .palabreria2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
  }
}
@media (max-width: 720px) {
  form .palabreria1 input {
    width: 80%;
  }
}
.texto {
  justify-content: space-around;
}
.texto textarea {
  width: 80%;
  font-size: small;
}

form {
  padding: 10px;
  background-color: #fff;
  list-style: none;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.boton {
  padding: 20px;
  justify-content: center;
  font-weight: bolder;
  border-color: #401240;
  color: #401240;
  background-color: #fff;
  list-style: none;
  text-decoration: none;
}

.reset:hover {
  color: #fff;
  background-color: red;
}

.listo:hover {
  color: #fff;
  background-color: rgb(46, 200, 46);
}

label {
  font-size: medium;
}

select {
  font-size: small;
}

/*# sourceMappingURL=style.css.map */
