
/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */

 // acerca de
.banner {
    height: 300px;
    border-image-slice: fill;
    width: fit-content;
    margin: 25px;
}