
/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */

 // inicio
.carousel {
    margin-top: 50px;
.carousel-inner img {
    height: 400px;
    border-image-slice: fill;
}
}

.container .text-center{
.card-body{
    padding: 2rem;
    .card-title{
        padding: 40px;
    }
}

}