@mixin palabreria{
    border: 15px;
    padding: 50px;
    margin: 25px;
    font-size:xx-large; 
    color: #fff;
    font-weight: bolder;
}

@mixin palabreria-p{
    font-size: large;
     font-weight: lighter;
      text-emphasis: none;

}

@mixin imagen{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}

.palabreria1{
    background-color: #fade23 ;
    @include palabreria;
     p {
          @include palabreria-p
       }

}

.palabreria2{
    background-color: #ff871e;
    @include palabreria;
    p {
       @include palabreria-p
   }
}

.palabreria3{
    background-color: #93c4ff;
    @include palabreria;
    p {
       @include palabreria-p
   }
}

.imagen {
    @include imagen
}