
/* colores del diseño
#401240 (morado)
#f0f8ff (azul del fondo)
#93c4ff (azul)
 #ff871e (naranja)
 #fade27 (amarillo)
 */

 .preguntas
 {
    width: 90%;
    .accordion-item{
    margin-top: 5%;
    margin-bottom: 5%;
    }
 }
